<div class=" content">
    <div class=" row">
        <div class=" col-md-8">
            <div class=" card">
                <div class=" card-header">
                    <h5 class=" title">Add New Policy</h5>
                </div>
                <div class=" card-body">
                    <form [formGroup]="PolicyForm" (ngSubmit)="Submit()">
                        <div class=" row ">
                            <div class=" col-md-5 pr-md-1 ">
                                <div class=" form-group ">
                                    <label> Policy Name </label>
                                    <input style="border: 1px solid #1e88e5; " formControlName="policyName" class=" form-control " placeholder="Policy Name " type="text " />
                                </div>
                            </div>
                        </div>
                        <div class=" row ">
                            <div class=" col-md-2 pr-md-1 ">
                                <div class=" form-group ">
                                    <label> Policy Price </label>
                                    <input style="border: 1px solid #1e88e5; " formControlName="policyPrice" class=" form-control " placeholder="Policy Price " type="text " />
                                </div>
                            </div>
                        </div>
                        <div class=" row ">
                            <div class=" col-md-2 pr-md-1 ">
                                <div class=" form-group ">
                                    <label> Number of beneficiaries </label>
                                    <input style="border: 1px solid #1e88e5; " formControlName="beneficiaries" class=" form-control " placeholder="Number of beneficiaries " type="text " />
                                </div>
                            </div>
                        </div>

                        <div class=" row ">
                            <div class=" col-md-8 ">
                                <div class=" form-group ">
                                    <label> About The Policy </label>
                                    <textarea style="border: 1px solid #1e88e5;border-radius: 5px; " formControlName="policyInfo" class=" form-control " cols="80 " placeholder="Here can be your description " rows="4 " value="Mike "> </textarea
                  >
                </div>
              </div>
            </div>
            <button color="mat-blue " class=" btn btn-fill btn-success " type="submit ">Submit</button>
          </form>
        </div>
	
                <div class=" card-footer ">
                  
                </div>
            </div>
        </div>
    </div>
</div>