<div class="content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Incoming Claims </h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <div class="mat-elevation-z8">
                            <table style="width: 100%;" mat-table [dataSource]="dataSource">

                                <ng-container matColumnDef="ClaimNumber">
                                    <th mat-header-cell *matHeaderCellDef class=" text-center"> Claim Number </th>
                                    <td mat-cell *matCellDef="let element" class=" text-center"> {{element.data.ClaimNumber}} </td>
                                </ng-container>

                                <!-- Position Column -->
                                <ng-container matColumnDef="ClaimentName">
                                    <th mat-header-cell *matHeaderCellDef class=" text-center"> Full Name </th>
                                    <td mat-cell *matCellDef="let element" class=" text-center"> {{element.data.ClaimentName}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="ID">
                                    <th mat-header-cell *matHeaderCellDef class=" text-center"> ID Number</th>
                                    <td mat-cell *matCellDef="let element" class=" text-center"> {{element.data.ID}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="Number">
                                    <th mat-header-cell *matHeaderCellDef class=" text-center"> Mobile Number </th>
                                    <td mat-cell *matCellDef="let element" class=" text-center"> {{element.data.Number}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="AltNumber">
                                    <th mat-header-cell *matHeaderCellDef class=" text-center"> Alternative Number </th>
                                    <td mat-cell *matCellDef="let element" class=" text-center"> {{element.data.AltNumber}} </td>
                                </ng-container>

                                <ng-container matColumnDef="TimeStamp">
                                    <th mat-header-cell *matHeaderCellDef class=" text-center"> Date </th>
                                    <td mat-cell *matCellDef="let element" class=" text-center"> {{element.data.TimeStamp.toDate() | date:'dd-MM-yyy'}} </td>
                                </ng-container>

                                <ng-container matColumnDef="image">
                                    <th mat-header-cell *matHeaderCellDef class=" text-center"> Death Certificate </th>
                                    <td mat-cell *matCellDef="let element" class=" text-center"> <a style="text-decoration: underline;" href="{{element.data.image}}">Document</a> </td>
                                </ng-container>

                                <ng-container matColumnDef="itemId">
                                    <th mat-header-cell *matHeaderCellDef class=" text-center"> Action </th>
                                    <td
                                     mat-cell *matCellDef="let element" class=" text-center"><i style="font-size:medium;color: #3498DB;" class="tim-icons icon-check-2"
                                      (click)="Accept(element)"></i>
                                        <i style="padding-left: 20px;font-size:medium;color: #E74C3C;" class="tim-icons icon-trash-simple" (click)="Reject(element.id)"(click)="Accept1(element)"></i> </td
                                        >
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>