<div class=" content">
    <!-- <div class=" row">
        <div class=" col-12">
            <div class=" card card-chart">
                <div class=" card-header">
                    <div class=" row">
                        <div class=" col-sm-6 text-left">
                            <h5 class=" card-category">Total Shipments</h5>
                            <h2 class=" card-title">Performance</h2>
                        </div>

                    </div>
                </div>
                <div class=" card-body">
                    <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
                </div>
            </div>
        </div>
    </div> -->
    <div class=" row">
        <div class=" col-lg-6">
            <div class=" card card-chart">
                <div class=" card-header">
                    <h5 class=" card-category">Incoming claims</h5>
                </div>
                <div class=" card-body">
                    <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
                </div>
            </div>
        </div>
        <div class=" col-lg-6">
            <div class=" card card-chart">
                <div class=" card-header">
                    <h5 class=" card-category">Policies</h5>
                </div>
                <div class=" card-body">
                    <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
                </div>
            </div>
        </div>

        <div class=" col-lg-6">
            <div class=" card card-chart">
                <div class=" card-header">
                    <h5 class=" card-category">Gender</h5>
                </div>
                <div class=" card-body">
                    <div class=" chart-areas">
                        <canvas id="myChart" ></canvas>

                        </div>
                </div>
            </div>
        </div>

        <div class=" col-lg-6">
            <div class=" card card-chart">
                <div class=" card-header">
                    <h5 class=" card-category">Registered users</h5>
                </div>
                <div class=" card-body">
                    <div class=" chart-area"><canvas id="chartLineGreen"> </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" row">
        <div class="col-md-12">
            <div class=" card card-tasks">
                <div class=" card-header">
                    <h4 class=" card-title">Registered users</h4>
                    <div ngbDropdown>
                        <button class=" btn btn-link btn-icon" data-toggle="dropdown" ngbDropdownToggle type="button">
              <i class=" tim-icons icon-settings-gear-63"> </i>
            </button>
                        <div aria-labelledby="dropdownMenuLink" class=" dropdown-menu-right" ngbDropdownMenu>
                            <a routerLink="/typography" ngbDropdownItem> View In Location </a>
                        </div>
                    </div>
                </div>
                <table class=" table tablesorter" id="">
                    <thead class=" text-primary">
                        <tr>
                            <th scope="col">FullName</th>
                            <th scope="col">ID</th>
                            <th scope="col">Email</th>
                            <th scope="col" class=" text-center">Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let users of userList">

                            <td>{{users.displayName}}</td>
                            <td>{{users.id}}</td>
                            <td>{{users.email}}</td>
                            <td class=" text-center"><i style="font-size:medium;color: #3498DB;" class="tim-icons icon-settings" (click)="editUser(users.key)"> </i>
                                <i style="padding-left: 20px;font-size:medium;color: #E74C3C;" class="tim-icons icon-trash-simple" (click)="onDelete(users.key)"> </i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

