<div class=" content">
    <!-- <div class=" row">
        <div class=" col-12">
            <div class=" card card-chart">
                <div class=" card-header">
                    <div class=" row">
                        <div class=" col-sm-6 text-left">
                            <h5 class=" card-category">Total Shipments</h5>
                            <h2 class=" card-title">Performance</h2>
                        </div>

                    </div>
                </div>
                <div class=" card-body">
                    <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
                </div>
            </div>
        </div>
    </div> -->
    <div class=" row">
        <div class=" col-lg-4">
            <div class=" card card-chart">
                <div class=" card-header">
                    <h5 class=" card-category">Incoming claims</h5>
                </div>
                <div class=" card-body">
                    <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
                </div>
            </div>
        </div>
        <div class=" col-lg-4">
            <div class=" card card-chart">
                <div class=" card-header">
                    <h5 class=" card-category">Policies</h5>
                </div>
                <div class=" card-body">
                    <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
                </div>
            </div>
        </div>
        <div class=" col-lg-4">
            <div class=" card card-chart">
                <div class=" card-header">
                    <h5 class=" card-category">Registered users</h5>
                </div>
                <div class=" card-body">
                    <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class=" col-lg-6 col-md-12">
            <div class=" card card-tasks">
                <div class=" card-header">
                    <h4 class=" card-title">Purchases</h4>
                    <div ngbDropdown>
                        <button class=" btn btn-link btn-icon" data-toggle="dropdown" ngbDropdownToggle type="button">
              <i class=" tim-icons icon-settings-gear-63"> </i>
            </button>
                        <div aria-labelledby="dropdownMenuLink" class=" dropdown-menu-right" ngbDropdownMenu>
                            <a routerLink="/tables" ngbDropdownItem> View In Location </a>
                        </div>
                    </div>
                </div>
                <table style="width: 100%;" mat-table [dataSource]="dataSource1">

                    <!-- Position Column -->
                    <ng-container matColumnDef="BuyerFullName">
                        <th mat-header-cell *matHeaderCellDef>Buyer Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.data.BuyerFullName}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="BuyerID">
                        <th mat-header-cell *matHeaderCellDef>Buyer ID</th>
                        <td mat-cell *matCellDef="let element"> {{element.data.BuyerID}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="BuyerMobileNumber">
                        <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
                        <td mat-cell *matCellDef="let element"> {{element.data.BuyerMobileNumber}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="BuyerEmail">
                        <th mat-header-cell *matHeaderCellDef>Email</th>
                        <td mat-cell *matCellDef="let element"> {{element.data.BuyerEmail}} </td>
                    </ng-container>

                    <ng-container matColumnDef="BuyerIncome">
                        <th mat-header-cell *matHeaderCellDef>Salary</th>
                        <td mat-cell *matCellDef="let element">R {{element.data.BuyerIncome}} </td>
                    </ng-container>

                    <ng-container matColumnDef="BuyerPolicy">
                        <th mat-header-cell *matHeaderCellDef>Policy</th>
                        <td mat-cell *matCellDef="let element">{{element.data.BuyerPolicy}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>
            </div>
        </div>
        <div class=" col-lg-6 col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Claims Table</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table style="width: 100%;" mat-table [dataSource]="dataSource">

                            <!-- Position Column -->
                            <ng-container matColumnDef="ClaimentName">
                                <th mat-header-cell *matHeaderCellDef class=" text-center"> Full Name </th>
                                <td mat-cell *matCellDef="let element" class=" text-center"> {{element.data.ClaimentName}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="ID">
                                <th mat-header-cell *matHeaderCellDef class=" text-center"> ID Number</th>
                                <td mat-cell *matCellDef="let element" class=" text-center"> {{element.data.ID}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="Number">
                                <th mat-header-cell *matHeaderCellDef class=" text-center"> Mobile Number </th>
                                <td mat-cell *matCellDef="let element" class=" text-center"> {{element.data.Number}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="AltNumber">
                                <th mat-header-cell *matHeaderCellDef class=" text-center"> Alternative Number </th>
                                <td mat-cell *matCellDef="let element" class=" text-center"> {{element.data.AltNumber}} </td>
                            </ng-container>

                            <ng-container matColumnDef="TimeStamp">
                                <th mat-header-cell *matHeaderCellDef class=" text-center"> Date </th>
                                <td mat-cell *matCellDef="let element" class=" text-center"> {{element.data.TimeStamp.toDate() | date:'dd-MM-yyy'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="image">
                                <th mat-header-cell *matHeaderCellDef class=" text-center"> Death Certificate </th>
                                <td mat-cell *matCellDef="let element" class=" text-center"> <a style="text-decoration: underline;" href="{{element.data.image}}">Document</a> </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[7, 14, 21]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>