<h1 mat-dialog-title style="text-align:center">Confirm</h1>
<div mat-dialog-content>
    <h4>Are you sure you want to delete the following purchase ?</h4>
    <h4><b>Name :</b> {{Name}}</h4>
    <h4><b>Email : </b>{{Email}}</h4>
    <h4><b>ID : </b>{{ID}}</h4>
    <h4><b>Policy : </b>{{Plan}}</h4>
    <h4><b>Number : </b>{{Number}}</h4>
    <h4><b>Salary :</b>R {{Salary}}</h4>h4>

</div>
<div mat-dialog-actions>
    <button mat-button style="width: 45%;" mat-raised-button color="warn" (click)="close2()">Cancel</button>
    <button mat-button style="width: 45%;" mat-raised-button color="primary" (click)="Confirm2()">Delete</button>
</div>


